#nav-bar {
  height: 80px;
  width: 100%;
  background-color:  rgba(76, 211, 235);
  color: whitesmoke;
  position: fixed;
  top: 0;
  padding: 15px 20px;
  z-index: 1000;
}

#nav-bar .logo {
  width: 60px;
  height: 50px;
  float: left;
}

#nav-bar .header {
  font-size: 2em;
  float: left;
  color: white;
}

#nav-bar .compose {
  visibility: hidden;
  margin-right: 5px;
  display: flex;
}

#nav-bar .handler {
  position: absolute;
}

.login-register-toggle, .compose, .logout {
  opacity: 0.8;
  float: right;
  height: 50px;
  color: grey;
  border-radius: 5px;
  background: white;
}

.login-register-toggle, .logout {
  width: 125px;
}