#nav-bar {
  height: 80px;
  width: 100%;
  background-color:  rgba(76, 211, 235);
  color: whitesmoke;
  position: fixed;
  top: 0;
  padding: 15px 20px;
  z-index: 1000;
}

.logo {
  width: 60px;
  height: 50px;
  float: left;
}

.header {
  font-size: 2em;
  float: left;
}

.compose {
  visibility: hidden;
  margin-right: 5px;
}

.login-register-toggle, .compose {
  opacity: 0.9;
  float: right;
  height: 50px;
  display: flex;
  flex-direction: row;
  color: grey;
  border-radius: 5px;
  background: white;
}

.login-register-toggle {
  width: 125px;
}