#nav-bar {
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  padding: 0 2rem;
}

#nav-bar .logo {
  width: 80px;
  height: 80px;
  float: left;
  margin-right: 10px;
}

#nav-bar .header {
  line-height: 80px;
  font-size: 2em;
  float: left;
}

#nav-bar .compose-container {
  float: right;
  line-height: 55px;
  margin-top: 10px;
  border-radius: 5px;
  opacity: 0.6;
  background-color: rgb(228, 228, 228);  
}

#nav-bar .compose-container .compose-icon {
  width: 30px;
  height: 30px;
}

#nav-bar .compose-container .compose-body {
  font-size: 1.1em;
  color: rgb(128, 127, 127);
  border-radius: 5px;
  border: 1px solid rgb(179, 179, 179);
}
