.new-tweet {
  background-image: linear-gradient(rgba(36, 211, 235, 0.60), rgba(36, 233, 160, 0.50)); 
  border-radius: 5px;
  border: 1px solid rgb(165, 165, 165);
}

.new-tweet h2 {
  color: whitesmoke;
  margin-bottom: 0;
  text-align: center;
}

.new-tweet form {
  display: flex;
  flex-direction: column;
  padding: 13px;
}

.new-tweet textarea {
  border-color: rgb(165, 165, 165);
  margin-bottom: 10px;
  border-radius: 5px;
  height: 60px;
  color: grey;
}

.new-tweet .display-in-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.new-tweet textarea:invalid {
  border: 1px solid red;
}

.new-tweet .counter {
  color: rgb(165, 165, 165);
}

.new-tweet .tweet-button {
  opacity: 0.6;
  color: grey;
  padding: 3px;
  font-size: 0.7em;
  padding: 0 10px;
  border-radius: 4px;
}