.new-tweet {
  background-image: linear-gradient(rgba(36, 211, 235, 0.60), rgba(36, 233, 160, 0.60)); 
  border-radius: 5px;
  border: 1px solid rgb(179, 179, 179);
  width: 400px;
  height: 175px;
  margin-left: auto;
  margin-right: auto;
}

.new-tweet h2 {
  color: #fff;
  margin-bottom: 0;
  text-align: center;
}

.new-tweet form {
  display: flex;
  flex-direction: column;
  margin-right: 13px;
  margin-left: 13px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.new-tweet textarea {
  margin-top: 0;
  height: 56px;
  border-color: rgb(158, 158, 158);
  margin-bottom: 10px;
  border-radius: 5px;
}

.new-tweet form div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.new-tweet .counter {
  color: rgb(165, 165, 165);
}

textarea:invalid {
  border: 2px solid red;
}

.tweet-button {
  background-color: white;
  opacity: 0.6;
  color: rgb(128, 127, 127);
  padding: 3px;
  font-size: 0.7em;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
}